.chatMedia {
    flex: 0.4;
    background-color: aliceblue;
    position: relative;
}

.details{
    padding: 20px;
}

.details *{
    padding: 8px;
}

.details h3{
    color: rgb(158, 192, 35);
}

.details h5{
    font-size: medium;
}