.chatMedia {
    flex: 0.4;
    background-color: aliceblue;
    position: relative;
}
.chatMedia h3{
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

.details{
    padding: 20px;
}

.details img{
    margin: 10px auto;
    border-radius: 50%;
}

.details *{
    padding: 8px;
}

.details h3{
    color: rgb(158, 192, 35);
}

.details h5{
    font-size: medium;
}