.login {
    width: 100vw;
    min-height: 100vh;
    background-color: #541d77;
}
.login-container {
    width: 30%;
    height: 50%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border: 2px solid #34004a;
    background-color: aliceblue;
    border-radius: 20px;
}
.loginInput-container {
    position: relative;
    width: 80%;
    margin: 20px;
    
}
.loginInput-container > input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
} 
#password-bottom,#loginEmail-bottom {
    width: 0;
    height: 2px;
    background-color: #34004a;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
input[type='password']:focus + #password-bottom{
    width: 100%;
    transition: 0.5s;
    
}
input[type='email']:focus + #loginEmail-bottom{
    width: 100%;
    transition: 0.5s;
}
.login-container > p {
    font-size: 20px;
}
.login-container > button {
    color: aliceblue;
    background-color: #34004a;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 25px 0;
    outline: none;
}
.login-container > a {
    text-decoration: underline;
}

