.roomMedia {
    flex: 0.4;
    border: 1px solid #180022;
    position: relative;
    display: flex;
    flex-direction: column;
}
.roomMedia h2{
    text-align: center;
    margin-top: 10px;
    flex: 0.1;
}
.roomMedia-container {
    flex: 0.75;
    overflow-y: scroll;
}
